*{margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.dropdown{
  display: inline-block;
}
.dropdown .Rooms{
  background-color: hsl(0, 0%, 80%);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.dropdown button{
  display: table-row;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
.dropdown .content{
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 95%);
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
  display: block;
}
.dropdown:hover .Rooms{
  background-color: hsl(0, 0%, 70%);
}
.dropdown button:hover{
  background-color: hsl(0, 0%, 90%);
} 

.dropdown-1{
  display: inline-block;
}
.dropdown-1 .Tubes{
  background-color: hsl(0, 0%, 80%);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.dropdown-1 button{
  display: table-row;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
.dropdown-1 .content-1{
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 95%);
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown-1:hover .content-1{
  display: block;
}
.dropdown-1:hover .Tubes{
  background-color: hsl(0, 0%, 70%);
}
.dropdown-1 button:hover{
  background-color: hsl(0, 0%, 90%);
}

.dropdown-2{
  display: inline-block;
}
.dropdown-2 .Glass{
  background-color: hsl(0, 0%, 80%);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.dropdown-2 button{
  display: table-row;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
.dropdown-2 .content-2{
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 95%);
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown-2:hover .content-2{
  display: block;
}
.dropdown-2:hover .Glass{
  background-color: hsl(0, 0%, 70%);
}
.dropdown-2 button:hover{
  background-color: hsl(0, 0%, 90%);
}


.dropdown-3{
  display: inline-block;
}
.dropdown-3 .Function{
  background-color: hsl(0, 0%, 80%);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
.dropdown-3 button{
  display: table-row;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
.dropdown-3 .content-3{
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 95%);
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown-3:hover .content-3{
  display: block;
}
.dropdown-3:hover .Function{
  background-color: hsl(0, 0%, 70%);
}
.dropdown-3 button:hover{
  background-color: hsl(0, 0%, 90%);
}


